html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#A4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media print {
  body { display: block; }
  #A4 {
    page-break-after: always;
    transform: scale(1.2);
    transform-origin: 0 0;
    border: none;
  }
}
#A4 .container {
  width: 866px;
  height: 281mm;
  background-color: #fff;
}
.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 4px;
}
.head-form {
  width: 100%;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head-form .item {
  display: flex;
  margin: 0 10px;
}
.head-form .item .label {
  font-weight: bold;
}
.head-form .item .label::after{
  content: '：';
}
table {
  border: 2px solid #000;
}
table tr td {
  text-align: center;
}
table tr td:first-child {
  width: 108px;
}
table tr.clock-row td {
  width: 18px;
}
table tr td.y-axis {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table tr td.y-axis .icons {
  align-self: flex-end;
}
table tr td.y-axis .icons > .icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
table tr td.y-axis .pulse {
  flex: 1;
  height: 100%;
  border-right: 1px solid #000;
  text-align: right;
  align-self: start;
  color: red;
  position: relative;
  padding-right: 2px;
}
table tr td.y-axis .temperature {
  width: 30px;
  height: 100%;
  text-align: right;
  align-self: start;
  position: relative;
  padding-right: 2px;
}
table tr td.y-axis .axis-nums {
  position: absolute;
  top: 67.5px;
  height: calc(100% - 135px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2px;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}
[data-tip]:hover {
  transition: .2s;
  cursor: pointer;
}
#tooltip {
  visibility: hidden;
  color: #fff;
  background: #434456;
  padding: 6px 10px;
  transform: translate(-50%, -100%);
  position: absolute;
  z-index: 9999;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  text-align: center;
  white-space: nowrap;
}
#tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #434456 transparent transparent transparent;
}
