* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.A4 {
  width: 210mm;
  height: 297mm;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 724px; /* 720px = 48 * 15 + 4 */
  height: 281mm;
  background-color: #fff;
}
.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 4px;
}
.head-form {
  width: 100%;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head-form .item {
  display: flex;
  margin: 0 10px;
}
.label {
  font-weight: bold;
}
.head-form .item .label::after{
  content: '：';
}
.table {
  border: 2px solid #000;
}
.row {
  display: flex;
  border-bottom: 1px solid #000;
}
.row:last-child {
  border-bottom: none;
}
.cell {
  width: 90px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cell:before {
  position: absolute;
  top: -1px;
  right: 0;
  content: '';
  height: 106%;
  border-right: 2px solid #000;
}
.cell:last-child:before {
  border: none;
}
.values {
  display: flex;
}
.values.x-axis {
  flex-direction: column;
}
.up, .down {
  width: 100%;
  display: flex;
  text-align: center;
}
.up {
  border-bottom: 1px solid #000;
}
.up div {
  width: 45px;
  position: relative;
}
.up div:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 1px solid #000;
}
.up div:last-child:before {
  border: none;
}
.up div:nth-child(2n) {
  position: relative;
}
.up div:nth-child(2n):before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 2px solid #000;
}
.up div:last-child:before {
  border: none;
}
.min-cell .top {
  line-height: 1;
  align-self: flex-start;
}
.min-cell .bottom {
  line-height: 1;
  align-self: flex-end;
}
.down div, .min-cell {
  width: 15px;
  letter-spacing: -1px;
  padding-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.down div:before, .min-cell:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 1px solid #000;
}
.down div:nth-child(6n), .min-cell:nth-child(6n) {
  position: relative;
}
.down div:nth-child(6n):before, .min-cell:nth-child(6n):before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 2px solid #000;
}
.down div:last-child:before, .min-cell:last-child:before {
  border: none;
}
.half-cell {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.half-cell:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 1px solid #000;
}
.half-cell:nth-child(2n) {
  position: relative;
}
.half-cell:nth-child(2n):before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 2px solid #000;
}
.half-cell:last-child:before {
  border: none;
}
.one-third-cell {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.one-third-cell:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 1px solid #000;
}
.one-third-cell:nth-child(3n) {
  position: relative;
}
.one-third-cell:nth-child(3n):before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 103%;
  border-right: 2px solid #000;
}
.one-third-cell:last-child:before {
  border: none;
}
.cell.y-axis {
  position: relative;
}
.icons {
  position: absolute;
  bottom: 0;
  left: 0;
}
.pulse {
  flex: 1;
  height: 100%;
  border-right: 1px solid #000;
  text-align: right;
  align-self: start;
  color: red;
  position: relative;
  padding-right: 2px;
}
.temperature {
  width: 30px;
  height: 100%;
  text-align: right;
  align-self: start;
  position: relative;
  padding-right: 2px;
}
.axis-nums {
  position: absolute;
  top: 67.5px;
  height: calc(100% - 135px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2px;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}
[data-tip]:hover {
  transition: .2s;
  cursor: pointer;
}
#tooltip {
  visibility: hidden;
  color: #fff;
  background: #434456;
  padding: 6px 10px;
  transform: translate(-50%, -100%);
  position: absolute;
  z-index: 9999;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  text-align: center;
  white-space: nowrap;
}
#tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #434456 transparent transparent transparent;
}
text {
  font-size: 12px;
  font-weight: 200;
  stroke: red;
  writing-mode: tb;
}