html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.A4 {
  width: 210mm;
  height: 297mm;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
#canvas {
  transform: scale(0.96);
}
@media print {
  body { display: block; }
  .A4 {
    page-break-after: always;
    transform: scale(1.2);
    transform-origin: 0 0;
  }
}
.content {
  width: 724px; /* 720px = 48 * 15 + 4 */
  height: 281mm;
  background-color: #fff;
}
.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 4px;
}
.head-form {
  width: 100%;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.head-form .item {
  display: flex;
  margin: 0 10px;
}
.label {
  font-weight: bold;
}
.head-form .item .label::after{
  content: '：';
}
.table {
  border: 2px solid #000;
}
.row {
  display: flex;
  border-bottom: 1px solid #000;
}
.row:last-child {
  border-bottom: none;
}
.cell {
  width: 90px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #000;
}
.row .cell:last-child {
  border-right: none;
}
.values {
  display: flex;
}
.values.x-axis .cell div {
  flex: 1;
  text-align: center;
}
.values.x-axis .cell .am {
  border-right: 1px solid #000;
}
.values.x-axis .cell .text {
  border-bottom: 1px solid #000;
}
.time-points {
  display: flex;
}
.time-points > div {
  flex: 1;
  border-right: 1px solid #000;
}
.time-points > div:last-child {
  border-right: none;
}
.icons {
  align-self: end;
}
.pulse {
  height: 100%;
  border-right: 1px solid #000;
  text-align: center;
  align-self: start;
  color: red;
  position: relative;
}
.temperature {
  height: 100%;
  text-align: center;
  align-self: start;
  color: blue;
  position: relative;
}
.axis-nums {
  position: absolute;
  top: 67.5px;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}